@import 'styles/fonts';
@import 'styles/colors';

.root {
  @include font-size(5);
  border-radius: 5px;
  border: 1px solid $grey4;
  box-shadow: none;
  box-sizing: border-box;
  color: $grey1;
  outline: none;
  padding: 10px 15px;
  width: 100%;

  &:active, &:focus {
    border: 1px solid $brand;
  }
}
