@import 'styles/colors';
@import 'styles/fonts';

.background {
  background: rgba(black, 0.1);

  height: 105%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  .modal {
    background: white;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
    width: 460px;
  }
}
