@import 'styles/colors.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,700italic&subset=latin');

html, body {
  color: $grey1;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html, body, #root {
  background: $grey5;
  height: 100%;
}
